.list-item {
  @include FLEX_ALIGN_CENTER;
  width: 100%;
  min-height: 48px;
  color: var(--font);
  overflow: hidden;
  border-bottom: 1px solid var(--font-sub);
  p {
    @include TEXT;
    width: 100%;
    text-align: center;
    padding: 0 8px;
    box-sizing: border-box;
  }
}
