.text-input {
  height: 42px;
  overflow: hidden;
  input {
    border-radius: 21px;
    @include FULLSIZE;
    @include TEXT;
    padding: 0 21px;
    box-sizing: border-box;
    border: 0;
    color: var(--font);
    background-color: var(--input);
    font-size: 16px;
    &:focus {
      background-color: var(--input-focus);
    }
    &:disabled {
      background-color: transparent;
    }
    &::placeholder {
      color: var(--font-sub);
    }
  }
}
