.text-button {
  @include TEXT;
  @include FLEX_ALIGN_CENTER;
  height: 42px;
  padding: 0 20px;
  border-radius: 50px;
  transition: 0.2s;
  &:disabled {
    opacity: 0.5;
  }
  &:hover {
    transform: scale(98%);
  }
  &:active {
    transform: scale(95%);
  }
  svg {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    vertical-align: middle;
    margin-left: -2px;
  }
}
