.aside {
  box-sizing: border-box;
}

.aside {
  max-width: 500px;
  min-width: 400px;
  width: 100%;
  height: 100%;
  padding: $gap;
  @include FLEX_COLUMN;
  align-items: flex-end;
  justify-content: space-between;
  gap: 24px;
  background-color: var(--bg);
}

.aside-list-header {
  @include FLEX_ALIGN_CENTER;
  width: 100%;
  justify-content: flex-start;
  gap: 16px;
}

.aside-list-content {
  width: 100%;
  height: 100%;
  overflow: auto;
  margin-right: -$gap;
  padding-right: $gap;
  text-align: center;
}

.aside-list-item {
  @include FLEX_ALIGN_CENTER;
  width: 100%;
  margin-bottom: 8px;
  gap: 12px;
  .text-input {
    width: calc(100% - 128px);
  }
  .circle-button {
    width: 24px;
    height: 24px;
  }
}
