.content {
  @include FULLSIZE;
  padding: $gap 0 $gap $gap;
  box-sizing: border-box;
  position: relative;
  .content-section {
    @include FULLSIZE;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--content-bg);
    border-radius: 32px;
    overflow: hidden;
  }
}
