.content {
  @include FULLSIZE;
  padding: $gap 0 $gap $gap;
  box-sizing: border-box;
  .content-section {
    position: relative;
    @include FULLSIZE;
    @include FLEX_ALIGN_CENTER;
    justify-content: center;
    flex-direction: column;
    gap: $gap;
    background-color: var(--content-bg);
    border-radius: 32px;
    overflow: hidden;
  }
}

.content-section > .text-button {
  position: absolute;
  bottom: $gap;
  left: $gap;
}
