.printer {
  width: 520px;
  height: 560px;
  position: relative;
  > div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .printer-box {
    width: 370px;
    height: 315px;
    background-color: #444;
    border-radius: 16px;
    z-index: 99;
    top: 40px;
  }
  .printer-body-behind {
    width: 520px;
    height: 52px;
    background-color: var(--gray-3);
    z-index: 98;
    top: 254px;
    border-radius: 0 0 16px 16px;
  }
  .printer-body {
    width: 520px;
    height: 134px;
    background-color: var(--gray-3);
    z-index: 102;
    top: 140px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    &::before {
      content: "";
      width: 520px;
      height: 40px;
      border-radius: 16px 16px 0 0;
      background-color: var(--gray-2);
      top: -40px;
      left: 0;
      position: absolute;
    }
  }
}

.print-info-box {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.print-counter {
  width: 50px;
  padding: 16px 20px;
  background-color: #444;
  @include TEXT;
  color: #f5f5f5;
  border-radius: 4px;
  text-align: center;
}

.print-light {
  width: 20px;
  height: 20px;
  margin: 12px;
  background-color: greenyellow;
  border-radius: 50%;
  box-shadow: 0 0 8px 6px rgba($color: greenyellow, $alpha: 0.5);
  &.wait {
    background-color: orange;
    box-shadow: 0 0 8px 6px rgba($color: orange, $alpha: 0.5);
  }
}

@keyframes paperAnimation {
  0% {
    top: 0;
    color: #f5f5f5;
  }
  10% {
    top: 40px;
    color: #f5f5f5;
  }
  40% {
    top: 120px;
    color: #333;
  }
  60% {
    top: 120px;
  }
  100% {
    top: 400px;
  }
}

.printer-paper {
  width: 340px;
  height: 140px;
  line-height: 140px;
  background-color: #f5f5f5;
  color: #f5f5f5;
  border-radius: 16px;
  z-index: 100;
  box-shadow: 0 0 32px rgba($color: #000, $alpha: 0.15);
  text-align: center;
  font-size: 3.2rem;
  font-weight: 900;
  &.done {
    top: 400px;
    color: #333;
    &.animation {
      animation: paperAnimation 2s ease;
    }
  }
}
