@import "_reset";
@import "_variables";
@import "./atoms";
@import "./molecules";
@import "_content";
@import "_aside";
@import "_printer";
@import "_result";
@import "_responsive";

body {
  font-family: "Noto Sans";
}

html,
body,
#root,
.App,
.main {
  @include FULLSIZE;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
}

.main {
  position: relative;
  max-width: 1920px;
  max-height: 1080px;
  display: flex;
  overflow: auto;
}

@font-face {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  src: url(../fonts/NotoSans-Regular.ttf);
}

@font-face {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  src: url(../fonts/NotoSans-Bold.ttf);
}
