@import "_reset";
@import "_variables";
@import "./atoms";

html {
  font-size: 10px;
}

body {
  font-family: "Noto Sans";
}

@font-face {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  src: url(../fonts/NotoSans-Regular.ttf);
}

@font-face {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  src: url(../fonts/NotoSans-Bold.ttf);
}
