@import "_reset.scss";
@import "_variables.scss";

body {
  font-family: "Noto Sans";
}

@font-face {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  src: url(../fonts/NotoSans-Regular.ttf);
}

@font-face {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  src: url(../fonts/NotoSans-Bold.ttf);
}
